#loop{
    display: flex;
    white-space: nowrap;

}


.marquee-text {            
    animation: marquee 15s infinite linear;        
}


@keyframes marquee {

  0% {
     left: 100%;
  }

  100% {
     left: 0;
     transform: translateX(-100%);
  }

}