.ccloader {
  border: 4px solid #004fbd;
  border-left-color: transparent;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  animation: spin89345 1s linear infinite;
}
.blogpage a {
  color: rgb(0, 0, 193);
  text-decoration: underline;
}

.footerLinks a:hover {
  text-decoration-line: underline;
  color: rgb(55, 55, 55);
}
.smooth {
  transition: all 0.7s ease;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Blog-table-cont {
  border: 1px solid rgb(131, 131, 131);
  border-radius: 10px;
}
.blog-table-head {
  border-bottom: 1px solid rgb(138, 138, 138);
  background-color: #96969628;
  font-weight: 600;
  color: black;
  font-size: 20px;
}

.university-ab a {
  color: #004fbd;
  text-decoration: underline;
}
.university-ab a:hover {
  color: #004fbd;
  text-decoration: underline;
}
.university-ab h3 {
  font-weight: 600;
}

/* Default styles for all screen sizes */
.university-ab h2 {
  font-weight: bold;
}


/* Default for large screens (desktops) */
@media (min-width: 1025px) {
  .university-ab h3 {
    font-size: 22px;
    margin-top: 10px;
  }
  .university-ab h2 {
    font-size: 1.6rem; /* Equivalent to text-4xl in Tailwind CSS */
    margin-top: 15px;
  }
  .university-ab p {
    font-size: 18px;
  }
}

/* Medium screens (tablets in landscape mode) */
@media (max-width: 1024px) and (min-width: 768px) {
  .university-ab h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  .university-ab h2 {
    font-size: 2rem; /* Equivalent to text-4xl in Tailwind CSS */
    margin-top: 15px;
  }
  .university-ab p {
    font-size: 17px;
  }
}

/* Small screens (tablets in portrait mode, large phones) */
@media (max-width: 767px) and (min-width: 481px) {
  .university-ab h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  .university-ab h2 {
    font-size: 1.8rem; /* Equivalent to text-3xl in Tailwind CSS */
    margin-top: 13px;
  }
  .university-ab p {
    font-size: 16px;
  }
}

/* Extra small screens (phones) */
@media (max-width: 480px) {
  .university-ab h3 {
    font-size: 16px;
    margin-top: 8px;
  }
  .university-ab h2 {
    font-size: 1.25rem; /* Equivalent to text-xl in Tailwind CSS */
    margin-top: 10px;
  }
  .university-ab p {
    font-size: 15px;
  }
}

.contentParagraph table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(0, 48, 131);   
}

.contentParagraph table td {
  border: 1px solid #a4a4a4; 
  padding: 8px; 
}
.contentParagraph table thead {
  background-color: rgb(0, 48, 131);
  color: white !important;
  align-items: center;
}
.contentParagraph table thead th {
  align-items: center;
}

.contentParagraph table tr:nth-child(even) {
  background-color: rgba(0, 94, 255, 0.171);
}

