@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
body{
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  font-family: Gilroy;
}
body {
  -webkit-touch-callout: none; /* Disable iOS callouts */
  -webkit-user-select: none; /* Disable text selection */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a0000;
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cf0000;
}


.loader {
  border: 4px solid rgba(255, 255, 255, 0.789);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}